@media (max-width: 1100px) {
  .order-details {
    padding: 100px 70px;
  }

  .empty-cart {
    padding: 0px 100px;
  }

  .empty-cart a {
    margin-top: 40px;
  }

  .empty-msg {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .empty-cart {
    padding: 0px 50px;
  }

  .empty-msg,
  .empty-cart p {
    font-size: 14px;
  }

  .empty-msg {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .billing-info div {
    width: 100%;
  }

  .billing-name {
    flex-direction: column;
  }

  .order-details h3 {
    font-size: 22px;
  }

  .order-details {
    padding: 100px 30px;
  }

  .congrats-msg h1 {
    text-align: center;
  }
}

@media (max-width: 530px) {
  .empty-cart {
    padding: 0px 10px;
  }

  .empty-cart,
  .empty-cart p {
    text-align: center;
  }
  .empty-cart p {
    font-size: 12px;
  }

  .empty-msg {
    font-size: 13px;
  }
}
