.items-container {
  padding: 100px 270px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.categories,
.items-type ul,
.filter {
  display: flex;
}

.categories {
  justify-content: space-between;
}

.items-type ul {
  list-style: none;
  gap: 20px;
}

.items-type ul li,
.filter {
  cursor: pointer;
  transition: 0.2s;
}

.items-type ul li:not(:first-child) {
  color: #929292;
}

.items-type ul li:hover {
  color: var(--black-color);
}

.filter {
  gap: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 120px;
}

.product {
  min-height: 373px;
  max-height: 430px;
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.quick {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 26px;
  background-color: transparent;
  color: transparent;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  transition: 0.3s;
  visibility: hidden;
}

.product img {
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.product-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-info > p {
  font-size: 14px;
}

.add-cart {
  position: relative;
  overflow: hidden;
}

.add-cart span {
  color: var(--text-color);
  display: block;
  transition: 0.3s;
  font-size: 13px;
}

.add-cart p {
  text-decoration: none;
  position: absolute;
  color: transparent;
  left: -125px;
  transition: 0.3s;
  visibility: hidden;
  font-size: 13px;
  width: max-content;
}

.product:hover .add-cart p {
  visibility: visible;
  color: var(--text-color);
  left: 50%;
  transform: translateX(-50%);
}

.product:hover .add-cart span {
  transform: translateX(40%);
  color: transparent;
  visibility: hidden;
}

.product:hover .quick {
  bottom: 83px;
  background-color: var(--black-color);
  visibility: visible;
  color: white;
}

.add-cart p:hover {
  color: var(--black-color) !important;
}

.product-content {
  width: 1000px;
  height: 500px;
  background-color: white;
  display: flex;
}

.product-details {
  width: 50%;
  padding: 20px;
}

.exit-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.exit-btn i {
  cursor: pointer;
}

.product-img {
  width: 50%;
  height: 100%;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.product-title h1 {
  font-size: 25px;
}

.product-title p {
  font-size: 20px;
}

.product-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.product-desc p {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  overflow: auto;
  height: 150px;
}

.product-cart {
  display: flex;
  width: 90%;
  height: 50px;
}

.quantity {
  width: 50%;
  height: 50px;
  border: 1px solid #e1e1e1;
  color: var(--text-color);
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity input {
  width: 50px;
  height: 100%;
  outline: none;
  border: none;
  text-align: center;
  color: var(--text-color);
}

.add-product-to-cart {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.add-product-to-cart:hover {
  background-color: #313131;
}

.select-quantity i:hover {
  color: var(--main-color) !important;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.pagination button {
  width: 200px;
  height: 36px;
  background-color: var(--main-color);
  color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.pagination button:first-child {
  background-color: #f3f3f3;
  border: 1px solid var(--text-color);
  color: black;
  display: none;
}

.pagination button:hover {
  opacity: 0.7;
}

.add-cart .cart-added {
  color: #4b85bb !important;
}

.add-cart .already-added {
  color: rgb(216, 91, 91) !important;
}
