.order-details {
  padding: 100px 300px;
}

.order-details h3 {
  font-size: 30px;
  margin: 30px 0;
}

.billing-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.billing-info div {
  width: 600px;
}

.billing-info label {
  font-size: 14px;
}

.billing-info input {
  height: 50px;
  padding: 20px;
  outline: none;
  border: 1px solid #e1e1e1;
}

.billing-info input:focus {
  background-color: #fafafa;
}

.billing-name {
  display: flex;
  gap: 20px;
}

.first-name,
.last-name,
.company-name,
.country,
.address,
.town,
.state,
.post-code,
.phone,
.email {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.your-order-details > div {
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 0;
  display: flex;
  font-size: 14px;
}

.your-order-details > div span {
  color: grey;
  font-weight: bold;
  display: block;
}

.your-order-details > div p {
  color: var(--text-color);
}

.your-order-details > div span,
.your-order-details > div p {
  width: calc(100% / 2);
}

.your-order > p {
  font-size: 13px;
  color: var(--text-color);
  margin: 40px 0;
}

.your-order > p span {
  color: var(--main-color);
}

.your-order button {
  border: none;
  margin: 0;
}

.shipping {
  display: flex;
  align-items: center;
}

.ship-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ship-radio label {
  color: var(--text-color);
}
